<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    {% block title_block %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        {% block body_block %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
