<!DOCTYPE html>
{% extends "mainApp/baseWithContainerAndJumbotron.html" %}
  {% block title_block %}
    <title>Webscraping</title>
  {% endblock %}

  {% block body_block %}
    <h1 class="display-4">Hello, Team </h1>
    <p class="lead">This is a simple prototype for the WebScraping App</p>
    <hr class="my-4">
    <h3>Team Members</h3>
    <ul>
      <li>Winston Sebastian Pais</li>
      <li>Ridhun</li>
      <li>Wilton Santhosh Dsouza</li>
      <li>Hazel shefali john</li>
    </ul>
    <a class="btn btn-primary btn-lg" href="https://github.com/WinstonPais/Marks-WebScraping" role="button">Learn more</a>&nbsp
    <a class="btn btn-primary btn-lg" href="{% url 'mainApp:inputPage' %}" role="button">Try Out The Prototype</a>
  {% endblock %}
